* {
    padding: 0;
    margin: 0;
    font-family: 'Manrope', sans-serif;
}

a {
    text-decoration: none;

}

ul li {
    list-style-type: none;
}

.center-header,
.center-menu {
    padding-left: calc(50% - 585px);
    padding-right: calc(50% - 585px);
}

.center {
    padding-left: calc(50% - 720px);
    padding-right: calc(50% - 720px);
}

.telegram {
    width: 22px;
    height: 21px;
    fill: #CDD2DD;

    &:hover {
        fill: #28A8E9;

    }
}

.whatsapp {
    height: 24px;
    width: 24px;
    fill: #CDD2DD;

    &:hover {
        fill: #0DC143;
    }
}

.video {
    width: 20px;
    height: 14px;
}

.offer,
.other {
    width: 20px;
    height: 20px;
}

.price {
    width: 11px;
    height: 15px;
}

.case,
.danger,
.answer {
    height: 18px;
    width: 18px;
}

.calculator {
    width: 20px;
    height: 18px;
}

.arrow-button {
    width: 12px;
    height: 8.5px;
    fill: white;
    margin-left: 5px;
}

.arrow-menu {
    width: 12px;
    height: 12px;
    fill: #46A44E;
    display: none;
}

.arrow-down {
    width: 8px;
    height: 6px;
    fill: #46A44E;
}

.top {
    width: 38px;
    height: 20px;
    background: #46A44E;
     font-weight: 800;
    font-size: 10px;
    line-height: 120%;
    display: inline-flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: white;
    justify-content: center;
    
}
.new {
    width: 38px;
    height: 20px;
    background: black;
     font-weight: 800;
    font-size: 10px;
    line-height: 120%;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: white;
    justify-content: center;
    margin-left: 4px;
}