.menu {
    height: 560px;
    padding-top: 40px;
    max-width: 1440px;
    position: absolute;
    left: 0;
    right: 0;
    top: 122px;
    background: white;
    border-top: 1px solid black;
    display: flex;
    overflow: scroll;

    &-wrap {
        display: block;
    }

    &__main {
        border-right: 1px solid #E5E5E5;
        padding-right: 30px;

        &-li {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 13px;
            line-height: 150%;
            letter-spacing: 0.04em;
            max-width: 240px;

            &:not(:last-child) {
                margin-bottom: 20px;
            }

            & a {
                color: $colorMenuMain;
            }

            // & span {
            //     color: $colorMenuMain;
            //     cursor:pointer;
            // }
            // &:hover span {
            //     color: $hoverColor;
            //     transition: 0.3s;
            // }

            &:hover {
                list-style-image: url(img/svg/arrow-menu.svg);
                transition: 0.3s;

            }

            &:hover a {
                color: $hoverColor;
                transition: 0.3s;
            }
        }
    }

    &-block {
        display: none;
        // display: flex;
        margin-left: 30px;

        &__h3 {
            font-weight: 700;
            font-size: 13px;
            line-height: 150%;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: #46A44E;
            margin-bottom: 15px;
            max-width: 270px;
        }

        &__li {
            font-weight: 500;
            font-size: 14px;
            line-height: 145%;
            max-width: 270px;
            color: $colorText;

            &:not(:last-child) {
                margin-bottom: 20px;
            }

            & a:hover {
                color: $hoverColor;
                transition: 0.3s;
            }

            & a {
                color: $colorText;
            }
        }

        &__ul {
            margin-right: 30px;
        }
    }

    &__consulting {


        &-li {
            font-weight: 500;
            font-size: 14px;
            line-height: 145%;
            max-width: 270px;
            color: $colorText;

            &:not(:last-child) {
                margin-bottom: 20px;
            }

            & a:hover {
                color: $hoverColor;
                transition: 0.3s;
            }

            & a {
                color: $colorText;
            }
        }

        &-a_flex {
            display: flex;
            align-items: center;
        }

        &-li_width {
            max-width: 280px;
        }

        &-arrow {
            display: block;
            margin-left: 5px;
            margin-right: 5px;
        }
    }

    &__consult {
        position: relative;
        width: 220px;
        height: 410px;
        background: #46A44E;
        padding-left: 20px;
        overflow: hidden;
        margin-left: 60px;

        &-h4 {
            font-family: 'Oswald', sans-serif;
            width: 200px;
            margin-top: 25px;
            font-weight: 700;
            font-size: 30px;
            line-height: 110%;
            color: #FFFFFF;

        }

        &-descr {
            width: 200px;
            font-weight: 500;
            font-size: 13px;
            line-height: 135%;
            color: #FFFFFF;
            margin-top: 15px;
        }

        &-button {
            width: 180px;
            height: 46px;
            border: 1px solid white;
            font-weight: 600;
            font-size: 13px;
            line-height: 120%;
            color: #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #46A44E;
            margin-top: 20px;
            cursor: pointer;
        }


    }

    &__poligon {
        width: 110px;
        height: 110px;
    }

    &__poligon-1,
    &__poligon-2 {

        position: absolute;
    }

    &__poligon-1 {
        bottom: 15px;
        left: 25px;
    }

    &__poligon-2 {
        right: -5px;
        bottom: 38px;
    }

    &__poligon-p {
        font-weight: 500;
        font-size: 13px;
        line-height: 135%;
        text-align: center;
        color: #FFFFFF;
        position: absolute;
    }

    &__poligon-1-p {
        bottom: 40px;
        left: 42px;

    }

    &__poligon-2-p {
        right: 10px;
        bottom: 80px;
    }

    &__poligon-percent {
        font-family: 'Oswald', sans-serif;
        font-weight: 700;
        font-size: 30px;
        line-height: 110%;
        color: #FFFFFF;
    }

    .consult-nalog {
        margin-top: 10px;
        display: none;

        &__li {
            margin-bottom: 10px;
        }

        &__a {
            color: #8B8B8F;
        }
    }
}
.active-link a{
color:black;
}