.menu {
    height: 560px;
    padding-top: 40px;
    width: 100%;
    display: none;
    position: absolute;
    left: 0;
    top: 122px;
    background: white;
    border-top: 1px solid black;

    &__main {
        &-li {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 13px;
            line-height: 150%;
            letter-spacing: 0.04em;

            & a {
                color: $colorMenuMain;
            }

            &:hover {
                list-style-image: url(img/svg/arrow-menu.svg);
                transition: 0.3s;

            }

            &:hover a {
                color: $hoverColor;
                transition: 0.3s;
            }
        }
    }
}