* {
  padding: 0;
  margin: 0;
  font-family: 'Manrope', sans-serif;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

.center-header,
.center-menu {
  padding-left: calc(50% - 585px);
  padding-right: calc(50% - 585px);
}

.center {
  padding-left: calc(50% - 720px);
  padding-right: calc(50% - 720px);
}

.telegram {
  width: 22px;
  height: 21px;
  fill: #CDD2DD;
}

.telegram:hover {
  fill: #28A8E9;
}

.whatsapp {
  height: 24px;
  width: 24px;
  fill: #CDD2DD;
}

.whatsapp:hover {
  fill: #0DC143;
}

.video {
  width: 20px;
  height: 14px;
}

.offer,
.other {
  width: 20px;
  height: 20px;
}

.price {
  width: 11px;
  height: 15px;
}

.case,
.danger,
.answer {
  height: 18px;
  width: 18px;
}

.calculator {
  width: 20px;
  height: 18px;
}

.arrow-button {
  width: 12px;
  height: 8.5px;
  fill: white;
}

.arrow-menu {
  width: 12px;
  height: 12px;
  fill: #46A44E;
  display: none;
}

.header {
  padding-top: 13px;
}

.header__top {
  height: 38px;
  background: #F8F8FB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 500;
  font-size: 13px;
  line-height: 135%;
  color: #8B8B8F;
}

.header__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__address {
  margin-right: 20px;
}

.header__mail {
  color: #8B8B8F;
}

.header__mail:hover {
  color: #0DC143;
}

.header__bottom {
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__bottom a {
  color: #101628;
}

.header__logo-img {
  height: 47px;
  width: 58px;
  margin-right: 7px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-name {
  font-size: 18px;
  font-weight: 700;
}

.header__span-pro {
  font-weight: 500;
}

.header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__arrow-down {
  display: block;
  margin-top: 0px;
  margin-left: 5px;
}

.header__li_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__ul li:not(:last-child) {
  margin-right: 20px;
}

.header__li-a {
  font-weight: 600;
  font-size: 15px;
}

.header__li-a:hover {
  color: #0DC143;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__li-a_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__arrow-down {
  width: 8px;
  height: 6px;
  fill: #46A44E;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__telegram {
  margin-right: 17px;
}

.header__message {
  margin-right: 30px;
}

.header__phone {
  text-align: right;
}

.header__span-phone {
  font-weight: 700;
  font-size: 18px;
  line-height: 135%;
}

.header__span-phone:hover {
  color: #0DC143;
}

.header__span-call {
  font-weight: 600;
  font-size: 13px;
  line-height: 120%;
  color: #0DC143;
  margin-left: 35px;
}

.header__span-call:hover {
  color: #86C58B;
}

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service__main {
  width: 100%;
}

.service__nav {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 40px;
}

.service__li {
  margin-bottom: 30px;
}

.service__li-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service__li-a:hover .service__li-title {
  color: #0DC143;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.service__li-title {
  font-weight: 600;
  font-size: 15px;
  line-height: 135%;
  color: #101628;
  max-width: 120px;
}

.service__logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #F8F8FB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 25px;
  fill: black;
}

.audit {
  height: 640px;
  background: #F8F8FB url(/img/audit-img.png);
  background-repeat: no-repeat;
  background-position: right;
  padding-left: 60px;
  padding-top: 20px;
}

.audit__nav {
  margin-top: 20px;
}

.audit__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.audit__li:not(:last-child) {
  margin-right: 10px;
}

.audit__li-a {
  font-weight: 600;
  font-size: 13px;
  line-height: 120%;
  color: #101628;
}

.audit__li-a:hover {
  color: #0DC143;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.audit .service_active {
  font-weight: 600;
  font-size: 13px;
  line-height: 120%;
  color: #AFAFB0;
}

.audit__sum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.audit__sum-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 108px;
  height: 32px;
  border-radius: 60px;
  background-color: white;
  font-weight: 600;
  font-size: 13px;
  line-height: 120%;
  color: #101628;
  cursor: pointer;
}

.audit__sum-li_active {
  background: #46A44E;
  color: white;
}

.audit__sum-li:not(:last-child) {
  margin-right: 10px;
}

.audit__h1 {
  font-weight: 800;
  font-size: 44px;
  line-height: 120%;
  margin-top: 50px;
}

.audit__info {
  font-weight: 500;
  font-size: 15px;
  line-height: 150%;
  color: #101628;
  margin-top: 150px;
}

.audit__sum {
  margin-top: 15px;
}

.audit__price {
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
  color: #46A44E;
  margin-top: 25px;
}

.audit__button {
  margin-top: 30px;
  width: 300px;
  height: 56px;
  background: #101628;
  border-radius: 2px;
  font-weight: 600;
  font-size: 15px;
  line-height: 135%;
  color: white;
}

.audit__button:hover {
  background: #282C38;
  cursor: pointer;
}

.audit__footnote {
  width: 380px;
  font-weight: 500;
  font-size: 13px;
  line-height: 135%;
  color: #8B8B8F;
  margin-top: 15px;
}

.menu {
  height: 560px;
  padding-top: 40px;
  width: 100%;
  display: none;
  position: absolute;
  left: 0;
  top: 122px;
  background: white;
  border-top: 1px solid black;
}

.menu__main-li {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 0.04em;
}

.menu__main-li a {
  color: #AFAFB0;
}

.menu__main-li:hover {
  list-style-image: url(img/svg/arrow-menu.svg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu__main-li:hover a {
  color: #0DC143;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/*# sourceMappingURL=style.css.map */